

<div fxFlex fxLayout="column" fxLayoutAlign="start stretch" class="mc-container">

  <div class="songs-icon-overlay">
    <img src="assets/songs-icon.png" height="50">
  </div>

  <div fxFlex="50" fxLayout="row" fxLayoutAlign="start stretch">
    <div fxFlex="85" fxFill class="chant-list-bg">
      <ul class="chant-list">
        <li
          *ngFor="let chant of savedChants; index as i"
          [class.selected]="chant.id === selectedChantId"
          (click)="changeSelectedChant(chant.id)"
        >
          {{ chant.title | uppercase }}
          <div *ngIf="chant.id === selectedChantId" class="chanting-now">
            <strong>chanting now</strong>
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div fxFlex="25" fxLayoutAlign="center center">
    <img
      (click)="stopPlaying()"
      *ngIf="isChantPlaying"
      src="assets/stop-button.png"
      height="50">

    <img
      (click)="startPlaying()"
      *ngIf="!isChantPlaying"
      src="assets/start-button.png"
      height="50">
  </div>

  <div fxFlex="25" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="80" class="chant-preview-text">
      {{findSelectedChant()?.content}}
    </div>
  </div>
</div>
