<div fxFlex fxLayout="column" fxLayoutAlign="space-between center" class="mc-container">
<!-- Top Logo -->
  <div fxFlex="10" fxLayoutAlign="center center">
    <img  src="assets/logo-letters.png" height="20">
  </div>

<!-- Body -->
  <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch" class="mc-actions">

<!-- Icon Overlay -->
    <div class="songs-icon-overlay">
      <img src="assets/songs-icon.png" height="50">
    </div>

<!-- Chant Scroll list -->
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start stretch">
      <div fxFlex="85" fxFill class="chant-list-bg">

          <cdk-virtual-scroll-viewport itemSize="50" fxFill>
            <div
              *cdkVirtualFor="let chant of chants$ | async; let i = index"
              (click)="selectChant(chant)"
              class="chant">
              <div fxLayout="row" fxLayoutAlign="space-around" *ngIf="i === 0">
                <div class="underline"></div>
              </div>

              <div fxLayout="row" fxLayoutGap="20px" [class.selected]="isSelected(chant?.id)" fxLayoutAlign="center center">
                <div>{{i+1}}. {{ chant.title | uppercase }}</div>

                <img
                  *ngIf="inProgress(chant?.id)"
                  src="assets/songs-icon.png" height="20">
              </div>
              <div fxLayout="row" fxLayoutAlign="space-around">
                <div class="underline"></div>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
      </div>

    </div>

<!-- Buttons: Start and Stop -->
    <div fxFlex="10" fxLayoutAlign="center center">
      <!-- Stop -->
      <img
        (click)="stopChant()"
        *ngIf="event?.state === 'in_progress'"
        src="assets/stop-button.png"
        height="50">
      <!-- Start -->
      <img
        (click)="startChant()"
        *ngIf="event?.state !== 'in_progress'"
        src="assets/start-button.png"
        height="50">
    </div>


    <!--  Chant Preview  -->
    <div fxFlex="35" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="80">
        <div *ngIf="!event"
             fxLayout="column"
             fxLayoutAlign="center center"
             class="small-chant-preview" >
          <h1>
            Selected: <i>{{selectedChant?.title}}</i>
          </h1>
          <div *ngFor="let line of selectedChantLines()">
            {{line}}
          </div>
        </div>

        <div *ngIf="event"
             fxLayout="column"
             fxLayoutAlign="center center"
             class="small-chant-preview" >
          <h1>
            Playing: <i> {{event?.chant?.title}}</i>
          </h1>
          <div fxLayout="row" *ngFor="let line of chantLines; let i = index">
            <div
              [class.top-line]="event.next_line-1 === i"
              [class.center-line]="event.next_line === i"
              [class.bottom-line]="event.next_line+1 === i"
            >
              {{line}}
            </div>
            <img src="assets/songs-icon.png" height="10" *ngIf="event.next_line === i">

          </div>
        </div>


      </div>
    </div>

    <!--  Next Button  -->
    <button
      mat-raised-button
      fxFlex="5"
      color="accent"
      (click)="nextLine()" >
      Next
    </button>
  </div>
</div>
