.chant-list-bg {
  background-image: url("/assets/red-chant-list-frame-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.mc-actions {
  width: 100vw;
  position:relative;
}

.mc-container {
  height: 100vh;
}

.songs-icon-overlay {
  position:absolute;
  top: -25px;
  left: 25px;
}

.chant-list {
  margin-top: 5vh;
}

.chant {
  font-family: FanchantFont, serif;
  font-size: large;
  color: black;
  //padding: 25px 50px 25px 50px;
}

.underline {
  width: 40vw;
  margin: 15px 15px 15px 15px;
  border-bottom: 3px solid black;
  opacity: 0.2;
}

.chant-preview-text {
  font-family: FanchantBold, Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
}

.selected {
  color: yellow;
}

.chanting-now {
  color: white;
  font-size: medium;
}

.reproduction-title {
  color: white;
  font-size: x-large;
  padding: 10px;
}

.small-chant-preview {
  color: white;
  font-size: small;
}

.center-line {
  color: yellow;
}
