<div fxFlex fxLayout="column" fxLayoutAlign="space-between left" class="fan-container" >
  <div fxFlex="10" fxLayoutAlign="end center" fxFill>
    <img  src="assets/logo-letters.png" height="20" class="landscape-logo">
  </div>

  <div fxFlex="80">
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="chant-player" >

      <!--   This div is absolute position to parent so does not obey flex rules   -->
      <div class="songs-icon-overlay">
        <img src="assets/songs-icon.png" height="50">
      </div>

      <div fxFlex="75" fxLayout="column" fxLayoutAlign="center center">
        <div *ngFor="let line of chantLines()" class="chant-text">
          <strong>{{line}}</strong>
        </div>
      </div>

      <div fxFlex="25"
           fxLayout="row"
           fxFill
           fxLayoutAlign="end end">
        <div class="sharetext">Share with Friends!</div>
        <img class="qrcode" src="assets/qr_test.png" height="80">

      </div>
    </div>
  </div>

<!--  <div fxFlex="80"-->
<!--       fxLayout="column"-->
<!--       class="chant-player"-->
<!--       fxLayoutAlign="start stretch">-->
<!--    -->
<!--    <div class="chant-content"></div>-->
<!--  </div>-->
</div>
