.fan-container {
  height: 100vh;
}

.landscape-logo {
  margin-top: 7vh;
  margin-right: 7vw;
}

.chant-player {
  background-image: url("/assets/red-landscape-frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: right;
  width: 95vw;
  height: 80vh;
  position:relative;
}

.songs-icon-overlay {
  position:absolute;
  top: -40px;
  left: 15px;
}

.qrcode,.sharetext {
  border-radius: 5px;
  margin: 10px;
  font-family: FanchantFont, sans-serif;
  font-size: large;
}

.top-chant-text {
  font-size: x-large;
  padding-bottom: 20px;
  opacity: 0.8;
  font-weight: bold;
}

.center-chant-text {
  font-size: xx-large;
  padding-bottom: 20px;
  font-weight: bold;
}

.bottom-chant-text {
  font-size: x-large;
  opacity: 0.8;
  font-weight: bold;
}
