<div fxFlex fxLayout="column" fxLayoutAlign="space-between left" class="fan-container" >

  <!-- Logo top right -->
  <div fxFlex="10" fxLayoutAlign="end center" fxFill>
    <img  src="assets/logo-letters.png" height="20" class="landscape-logo">
  </div>

  <!--  Red card body wrapper -->
  <div fxFlex="80">
    <!--  Red card body -->
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="chant-player" >

      <!--   Song Icon: This div is absolute position to parent so does not obey flex rules   -->
      <div class="songs-icon-overlay">
        <img src="assets/songs-icon.png" height="50">
      </div>

      <!-- Chant Area -->
      <div fxFlex="75" fxLayout="column" fxLayoutAlign="center center">

        <!-- Warn message If no event -->
        <div class="top-chant-text" *ngIf="!event">
          Next chant coming up...
        </div>

        <!-- Countdown -->
        <div *ngIf="event && !hasStarted(event)">
          {{secondsLeft(event)}}
        </div>

        <!-- Chant Text -->
        <div *ngIf="hasStarted(event)" fxLayout="column" fxLayoutAlign="center center">
          <!-- Chant Title -->
          <h1 class="chant-title">Chant: <i>{{event?.chant?.title}}</i></h1>
          <!-- Top Line -->
          <div fxLayout="row" fxLayoutGap="3px" class="top-chant-text">
            <div *ngFor="let word of topChantLineWords()">
              {{word.text}}
            </div>
          </div>
          <!-- Center Line -->
          <div fxLayout="row" fxLayoutGap="3px" class="center-chant-text">
            <div *ngFor="let word of centerChantLineWords()" [class.highlight]="word.active">
              {{word.text}}
            </div>
            <img src="assets/songs-icon.png" height="25">
          </div>
          <!-- Bottom Line -->
          <div fxLayout="row" fxLayoutGap="3px" class="bottom-chant-text">
            <div *ngFor="let word of bottomChantLineWords()">
              {{word.text}}
            </div>
          </div>
        </div>

      </div>

      <!-- QR code for sharing-->
      <div fxFlex="25"
           fxLayout="row"
           fxFill
           fxLayoutAlign="end end">
        <div class="sharetext">Share with Friends!</div>
        <img class="qrcode" src="assets/qr_test.png" height="80">

      </div>
    </div>
  </div>
</div>
